In [36]:
from glob import glob
import pandas as pd
from pathlib import Path
from collections import Counter

In [6]:
glob("../src_files/*.xlsx")

['../src_files/Human_Sabatini_addgene1000000095.xlsx',
 '../src_files/Human_TKO_version3_addgene90294.xlsx',
 '../src_files/Human_Yusa_addgene67989.xlsx',
 '../src_files/Mouse_Yusa_addgene67988.xlsx']

In [20]:
df_sabatini = pd.read_excel("../src_files/Human_Sabatini_addgene1000000095.xlsx")
df_sabatini.tail()

,sgRNA ID,Symbol,Chromosome,sgRNA location,Genomic strand targeted,sgRNA sequence,Other genes hits
182129,CTRL01000,NaN,NaN,NaN,NaN,GGACCAAGTCGTCGATCTTA,NaN
182130,CTRL01001,NaN,NaN,NaN,NaN,GTGTCAACGGAGAATGGTCA,NaN
182131,CTRL01002,NaN,NaN,NaN,NaN,GACGAGTCGATTATGAGCGG,NaN
182132,CTRL01003,NaN,NaN,NaN,NaN,GATACGCTCTCGCCCTTCCC,NaN
182133,CTRL01004,NaN,NaN,NaN,NaN,GCTAGCTAGTCTCGCGGGCA,NaN

In [25]:
df_sabatini.head()

,sgRNA ID,Symbol,Chromosome,sgRNA location,Genomic strand targeted,sgRNA sequence,Other genes hits
0,sgA1BG_1,A1BG,chr19,58864441.0,-,CCAGCTGTTCAAGAATGGGG,NaN
1,sgA1BG_2,A1BG,chr19,58862759.0,-,GTCGAGCTGATTCTGAGCGA,NaN
2,sgA1BG_3,A1BG,chr19,58863731.0,+,AGGCTGATGGACTGGAAAGG,NaN
3,sgA1BG_4,A1BG,chr19,58861903.0,-,CTGGTGCGCGAGGACAGGGG,NaN
4,sgA1BG_5,A1BG,chr19,58861812.0,+,GTAGTTGGCGGAGTCAGCCA,NaN

In [21]:
sgRNA_id = [s.replace("sg", "").replace("CTRL", "CTRL_") for s in df_sabatini["sgRNA ID"].tolist()]
sgRNA_seq = df_sabatini["sgRNA sequence"].tolist()

In [22]:
with open("../Human_Sabatini_addgene1000000095.fasta", "w") as oup:
    for sg_id, sg_seq in zip(sgRNA_id, sgRNA_seq):
        print(">{}".format(sg_id), file=oup)
        print(sg_seq, file=oup)

In [23]:
!head ../Human_Sabatini_addgene1000000095.fasta

>A1BG_1
CCAGCTGTTCAAGAATGGGG
>A1BG_2
GTCGAGCTGATTCTGAGCGA
>A1BG_3
AGGCTGATGGACTGGAAAGG
>A1BG_4
CTGGTGCGCGAGGACAGGGG
>A1BG_5
GTAGTTGGCGGAGTCAGCCA

In [24]:
!tail ../Human_Sabatini_addgene1000000095.fasta

>CTRL_01000
GGACCAAGTCGTCGATCTTA
>CTRL_01001
GTGTCAACGGAGAATGGTCA
>CTRL_01002
GACGAGTCGATTATGAGCGG
>CTRL_01003
GATACGCTCTCGCCCTTCCC
>CTRL_01004
GCTAGCTAGTCTCGCGGGCA

In [28]:
df_human_tko = pd.read_excel("../src_files/Human_TKO_version3_addgene90294.xlsx")
df_human_tko.head()

   GENE              SEQUENCE                        GUIDE_ID TARGET EXON
0  A1BG  CAAGAGAAAGACCACGAGCA  chr19:58864777-58864796_A1BG_+     exon_01
1  A1BG  GCTCAGCTGGGTCCATCCTG  chr19:58864319-58864338_A1BG_+     exon_03
2  A1BG  ACTGGCGCCATCGAGAGCCA  chr19:58863885-58863904_A1BG_+     exon_04
3  A1BG  GTCGAGCTGATTCTGAGCGA  chr19:58862759-58862778_A1BG_-     exon_05
4  A1CF  TGCGCTGGACCAGTGCGCGG  chr10:52619622-52619641_A1CF_+     exon_01

In [29]:
df_human_tko.tail()

,GENE,SEQUENCE,GUIDE_ID,TARGET EXON
71085,luciferase,CTTGTCGTATCCCTGGAAGA,luciferase:649-668_luciferase_-,CTRL
71086,luciferase,ACAACTTTACCGACCGCGCC,luciferase:533-552_luciferase_-,CTRL
71087,luciferase,CCTCTAGAGGATGGAACCGC,luciferase:45-64_luciferase_+,CTRL
71088,luciferase,GGCATGCGAGAATCTGACGC,luciferase:970-989_luciferase_-,CTRL
71089,luciferase,GGCTATGAAGAGATACGCCC,luciferase:83-102_luciferase_+,CTRL

In [30]:
sgRNA_seq = df_human_tko.SEQUENCE.tolist()

In [40]:
guide_id = [v.split("_")[0] + v.split("_")[-1] for v in df_human_tko.GUIDE_ID.tolist()]

In [41]:
len(guide_id), len(set(guide_id))

(71090, 71090)

In [42]:
sgRNA_id = [ "{}_{}".format(g,i) for g, i in zip(df_human_tko.GENE.tolist(), guide_id)]

In [43]:
len(sgRNA_id), len(set(sgRNA_id))

(71090, 71090)

In [46]:
sgRNA_id[:10], sgRNA_id[-10:]

(['A1BG_chr19:58864777-58864796+',
  'A1BG_chr19:58864319-58864338+',
  'A1BG_chr19:58863885-58863904+',
  'A1BG_chr19:58862759-58862778-',
  'A1CF_chr10:52619622-52619641+',
  'A1CF_chr10:52603830-52603849+',
  'A1CF_chr10:52595871-52595890+',
  'A1CF_chr10:52575966-52575985-',
  'A2ML1_chr12:8975265-8975284-',
  'A2ML1_chr12:8975819-8975838-'],
 ['luciferase_luciferase:1551-1570+',
  'luciferase_luciferase:1516-1535-',
  'luciferase_luciferase:1610-1629+',
  'luciferase_luciferase:1613-1632-',
  'luciferase_luciferase:305-324-',
  'luciferase_luciferase:649-668-',
  'luciferase_luciferase:533-552-',
  'luciferase_luciferase:45-64+',
  'luciferase_luciferase:970-989-',
  'luciferase_luciferase:83-102+'])

In [47]:
with open("../Human_TKO_version3_addgene90294.fasta", "w") as oup:
    for sg_id, sg_seq in zip(sgRNA_id, sgRNA_seq):
        print(">{}".format(sg_id), file=oup)
        print(sg_seq, file=oup)

In [49]:
!head ../Human_TKO_version3_addgene90294.fasta

>A1BG_chr19:58864777-58864796+
CAAGAGAAAGACCACGAGCA
>A1BG_chr19:58864319-58864338+
GCTCAGCTGGGTCCATCCTG
>A1BG_chr19:58863885-58863904+
ACTGGCGCCATCGAGAGCCA
>A1BG_chr19:58862759-58862778-
GTCGAGCTGATTCTGAGCGA
>A1CF_chr10:52619622-52619641+
TGCGCTGGACCAGTGCGCGG

In [50]:
!tail ../Human_TKO_version3_addgene90294.fasta

>luciferase_luciferase:649-668-
CTTGTCGTATCCCTGGAAGA
>luciferase_luciferase:533-552-
ACAACTTTACCGACCGCGCC
>luciferase_luciferase:45-64+
CCTCTAGAGGATGGAACCGC
>luciferase_luciferase:970-989-
GGCATGCGAGAATCTGACGC
>luciferase_luciferase:83-102+
GGCTATGAAGAGATACGCCC

In [51]:
df_human_yusa = pd.read_excel("../src_files/Human_Yusa_addgene67989.xlsx")
df_human_yusa.head()

,gRNA_ID,Gene,Guide_sequence,Illumina read counts
0,A1BG_CCDS12976.1_ex3_19:58862927-58862950:-_5-1,A1BG,GACTTCCAGCTACGGCGCG,1122
1,A1BG_CCDS12976.1_ex4_19:58863655-58863678:+_5-2,A1BG,TCAATGGTCACAGTAGCGC,580
2,A1BG_CCDS12976.1_ex4_19:58863697-58863720:-_5-3,A1BG,CTGCAGCTACCGGACCGAT,803
3,A1BG_CCDS12976.1_ex4_19:58863866-58863889:+_5-4,A1BG,CGGGGGTGATCCAGGACAC,424
4,A1BG_CCDS12976.1_ex5_19:58864367-58864390:-_5-5,A1BG,TGCTGACGGGTGACACCCA,368

In [52]:
df_human_yusa.tail()

,gRNA_ID,Gene,Guide_sequence,Illumina read counts
90704,ZZZ3_CCDS677.1_ex10_1:78097747-78097770:-_5-1,ZZZ3,GTCAATCTCCTACAAATCC,387
90705,ZZZ3_CCDS677.1_ex10_1:78097860-78097883:+_5-2,ZZZ3,GTGGGACTACCTCTGGTAG,319
90706,ZZZ3_CCDS677.1_ex10_1:78098021-78098044:-_5-3,ZZZ3,GAAAACACCAATAACGAAC,65
90707,ZZZ3_CCDS677.1_ex10_1:78098133-78098156:-_5-4,ZZZ3,GACTACTGAGCCAGCTACA,274
90708,ZZZ3_CCDS677.1_ex10_1:78098155-78098178:+_5-5,ZZZ3,GCTGATTAACATGTTCCAC,295

In [63]:
sgRNA_id = ["".join(v.split("_")[-2:]) for v in df_human_yusa.gRNA_ID]

In [66]:
sgRNA_id = ["{}_{}".format(g, i) for g, i in zip(df_human_yusa.Gene, sgRNA_id) ]

In [68]:
len(sgRNA_id), len(set(sgRNA_id))

(90709, 90709)

In [69]:
sgRNA_seq = df_human_yusa.Guide_sequence

In [70]:
with open("../Human_Yusa_addgene67989.fasta", "w") as oup:
    for sg_id, sg_seq in zip(sgRNA_id, sgRNA_seq):
        print(">{}".format(sg_id), file=oup)
        print(sg_seq, file=oup)

In [71]:
!head ../Human_Yusa_addgene67989.fasta

>A1BG_19:58862927-58862950:-5-1
GACTTCCAGCTACGGCGCG
>A1BG_19:58863655-58863678:+5-2
TCAATGGTCACAGTAGCGC
>A1BG_19:58863697-58863720:-5-3
CTGCAGCTACCGGACCGAT
>A1BG_19:58863866-58863889:+5-4
CGGGGGTGATCCAGGACAC
>A1BG_19:58864367-58864390:-5-5
TGCTGACGGGTGACACCCA

In [72]:
!tail ../Human_Yusa_addgene67989.fasta

>ZZZ3_1:78097747-78097770:-5-1
GTCAATCTCCTACAAATCC
>ZZZ3_1:78097860-78097883:+5-2
GTGGGACTACCTCTGGTAG
>ZZZ3_1:78098021-78098044:-5-3
GAAAACACCAATAACGAAC
>ZZZ3_1:78098133-78098156:-5-4
GACTACTGAGCCAGCTACA
>ZZZ3_1:78098155-78098178:+5-5
GCTGATTAACATGTTCCAC